.complete {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

table {
  border: 0;
  width: 50%;
  text-align: left;
}

td {
  border: 0;
  width: 50%;
  text-align: left;
}

th {
  border: 0;
  width: 50%;
  text-align: left;
}
